<!--***********************************************
Nav Bar / Header
************************************************-->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <!-- Hamburger menu, when width is too small -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Main branding icon/title -->
    <a class="navbar-brand" href="#"><i class="fa fa-keyboard-o"></i> keyboard-layout-editor.com</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <!-- Left-aligned NavBar buttons -->
    <ul class="nav navbar-nav">
      <!-- Presets dropdown -->
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle><i class="fa fa-keyboard-o"></i> Preset <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Standard Layouts:</li>
          <li *ngFor="let preset of presets"><a (click)="loadPreset(preset.data)" href="#">{{preset.name}}</a>
          </li>
          <li class="divider"></li>
          <li class="dropdown-header">Complex Samples:</li>
          <li *ngFor="let sample of samples | keyvalue"><a (click)="loadSample(sample.value)"
              href="#">{{sample.key}}</a></li>
        </ul>
      </li>

      <!-- Color swatches dropdown -->
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle><i class="fa fa-th"></i> Color Swatches <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!-- <li *ngFor="pal in palettes"><a (click)="loadPalette(pal)" href="#">{{pal.name}}</a></li> -->
          <li class="divider"></li>
          <!-- <li><a (click)="makePaletteFromKeys()" href="#">Current key colors</a></li> -->
        </ul>
      </li>

      <!-- Character Picker dropdown -->
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle><i class="fa fa-font"></i> Character Picker <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!-- <li *ngFor="picker in pickers"><a (click)="loadCharacterPicker(picker)" href="#">{{picker.name}}</a></li> -->
          <li class="divider"></li>
          <!-- <li><a (click)="loadCharacterPicker(null)" href="#">User-Defined Glyphs</a></li> -->
        </ul>
      </li>
    </ul>

    <!-- Right-aligned NavBar buttons -->
    <ul class="nav navbar-nav navbar-right" style="">
      <!-- Options button -->
      <li><a href="#" (click)="showOptions()"><i class="fa fa-cog"></i> Options</a></li>
      <!-- Permalink button -->
      <li><a [href]="getPermalink()" target="_blank" (click)="dirty = false"><i class="fa fa-link"></i>
          Permalink</a></li>
      <!-- User button -->
      <li *ngIf="user"><a href="#" (click)="userLogin()"><i class="fa fa-github"></i> Sign in with GitHub</a></li>
      <li *ngIf="!user" class="dropdown" dropdown ng-cloak>
        <!-- <a class="dropdown-toggle" dropdown-toggle><span [html]="user.avatar"></span> {{user.name}} <b class="caret"></b></a> -->
        <ul class="dropdown-menu">
          <!-- <li><a (click)="showSavedLayouts(false)" href="#"><i class="fa fa-folder-open-o"></i> My Layouts</a></li> -->
          <!-- <li><a (click)="showSavedLayouts(true)" href="#"><i class="fa fa-star-o"></i> Starred Layouts</a></li> -->
          <li class="divider"></li>
          <!-- <li><a href="https://github.com/settings/connections/applications/{{githubClientId}}" target="_blank"><i class="fa fa-key"></i> Manage GitHub Permissions</a></li> -->
          <li><a (click)="userLogout()" href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>